{% extends "layout.html" %}

{% block title %} 
Admin Page
{% endblock %}

{% block content%}
    <div class="container my-3 py-3 border rounded-3 bg-secondary text-light">
        <div class="display-6 text-center">
            Admin Page
        </div>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in list_users.keys() %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user }}</td>
                    <td>{{ list_users[user]['password'] }}</td>
                    <td class="d-flex flex-column align-items-center">
                        <a href="#" class="btn btn-primary w-50 my-1">Update</a>
                        <a href="#" class="btn btn-danger w-50 my-1">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="display-6 fs-3 mt-5">Create New Account</div>
        <form action='/registration' method='POST' class="mt-2 w-50">
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email", placeholder="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password", placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}