<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- This is Navbar -->
    <header class="d-flex justify-content-between p-3" style="background-color: #303030;">
        <p class="display-6 fs-2 mb-0 text-light">My Portfolio Website</p>
        {% if current_user.is_authenticated %}
        <a href="/logout" class="btn btn-light">Logout</a>
        {% else %}
        <a href="/login" class="btn btn-light">Login</a>
        {% endif %}
    </header>
    <!-- End of Navbar -->

    <!-- Main Container -->
    <div class="container my-3 py-3 border rounded-3 bg-secondary text-light">
        <div class="display-6 text-center">
            List of Available Features
        </div>
        <ol>
            <li>Login System
                <ul>
                    <li>Using built-in login function from Flask</li>
                </ul>
            </li>
            <li>Simple CRUD System
                <ul>
                    <li>Using Star Scheme (Avaiable after login using your account)</li>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a href="/admin" class="text-light">Click here</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ol>
    </div>
    <!-- Old Code -->
    <!-- <div class="container text-light">
        <div class="profile d-flex justify-content-evenly align-items-center py-5">
            <div>
                <img src="{{url_for('static', filename='img/foto diri.png') }}" alt=""
                    class="w-50 rounded-circle mx-auto d-block">
            </div>
            <div class="profile w-50 flex-grow-1 p-3"
                style="background-color: #2b2b2b; border-radius: 28px; border: 4px solid #414141;">
                <div class="fs-3 fw-bolder">Personal Information</div><br>
                <div class="row">
                    <div class="col-9">
                        <table>
                            <tr>
                                <td class="fs-5">Name</td>
                                <td class="fs-5">: Rizal Widyananda</td>
                            </tr>
                            <tr>
                                <td class="fs-5">Birth of Date</td>
                                <td class="fs-5">: 11 November 2000</td>
                            </tr>
                            <tr>
                                <td class="fs-5">List of Interest</td>
                                <td class="fs-5">: Python Programming, Machine Learning, Deep Learning, Automation, Web
                                    Scraping, etc</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-3">
                        <div class="fs-5 text-center">Short Description</div>
                        <div class="fs-6 text-center">I am data & Python enthusiast, especially in Machine Learning (ML)
                            field and automation field.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="study-achievement d-flex justify-content-evenly py-5">
            <div class="study">
                <div class="fs-3 fw-bolder text-center">Education</div>
                <div>
                    <div class="edu-detail">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="{{url_for('static', filename='img/education/Telkom_University_Logo.png') }}"
                                    alt="" class="mx-auto d-block" style="width: 64px;">
                            </div>
                            <div class="col-9">
                                <div class="fs-5">Telkom University</div>
                                <div class="fs-6">Bachelor's Degree</div>
                                <div class="fs-6 text-white-50">2019 - 2023</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="edu-detail">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="{{url_for('static', filename='img/education/logo_23.png') }}" alt=""
                                    class="mx-auto d-block" style="width: 64px;">
                            </div>
                            <div class="col-9">
                                <div class="fs-5">SMAN 23 Bandung</div>
                                <div class="fs-6">Mathematic & Natural Science</div>
                                <div class="fs-6 text-white-50">2016 - 2019</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="achievement">
                <div class="fs-3 fw-bolder text-center">Experience</div>
            </div>
        </div>
    </div> -->
    <!-- End of Old Code -->
    <!-- End of Main Container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>